Repository NotACat1/BINDER: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: Adding a file `.env.example`
  .env.example
Due: none

feat: Adding documentation
  README.md
Due: none

fix: Image size correction
  src/components/About/index.module.scss
Due: prettier --write

feat: Adding a screenshot
  README.md
Due: none

fix: OpenGrapth Fix
  public/binder-logo.jpg
  public/binder-logo.png
  public/index.html
Due: none

Updates
  asset-manifest.json
  binder-logo.jpg
  binder-logo.png
  index.html
  static/css/main.290209f8.css
  static/css/main.290209f8.css.map
  static/css/main.63937899.css.map
  static/js/main.05c5d1d5.js.map
  static/media/close.b7ba6b1886f088ec523c6de41c52b3fa.svg
  static/media/instagram.9683973671d1c5c5c8c22d3c43196a21.svg
  static/media/left.772e4e60f309ab8cf42bfd1dac40e6e8.svg
  static/media/menu.898c3358972d7809b49c2cc806c01f1d.svg
  static/media/right.9bd49a27275b16eec22cd04d31451b31.svg
  static/media/telegram.cc6dacba16a5ae6d303718e222c96bd6.svg
  static/media/whatsapp.bcab769d89393ea8e837aa1ef3250447.svg
Due: prettier --write

Updates
  asset-manifest.json
  index.html
  static/css/main.290209f8.css.map
  static/css/main.e8fc7838.css
  static/css/main.e8fc7838.css.map
Due: prettier --write

Updates
  asset-manifest.json
  index.html
  static/css/main.1a10086e.css
  static/css/main.1a10086e.css.map
  static/css/main.e8fc7838.css.map
Due: prettier --write

fix: Correcting the position of images
  src/components/About/index.module.scss
Due: prettier --write

fix: Email and phone correction
  src/utils/consts.ts
Due: eslint --fix, prettier --write

feat: Adding new photos
  src/assets/projects/14.jpg
  src/assets/projects/15.jpg
  src/assets/projects/16.jpg
  src/assets/projects/17.jpg
  src/assets/projects/2.jpg
Due: none

feat: Adding new photos
  src/assets/projects/18.png
  src/utils/consts.ts
Due: eslint --fix, prettier --write

Updates
  asset-manifest.json
  index.html
  static/js/main.05c5d1d5.js
  static/js/main.05c5d1d5.js.map
  static/js/main.d9bb6499.js
  static/js/main.d9bb6499.js.LICENSE.txt
  static/js/main.d9bb6499.js.map
  static/media/14.25a934d041c7d31be2f8.jpg
  static/media/15.c1f7135b8906f342ce6b.jpg
  static/media/16.ff758293b18b06729b96.jpg
  static/media/17.306808b5dc92abbe8c66.jpg
  static/media/18.c8ed8b295a6732b25da5.png
  static/media/2.fc8a5bfe6457596b402f.jpg
Due: eslint --fix, prettier --write

Create SECURITY.md
  SECURITY.md
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.scss)) or (any of: *.json)
